<div class="container text-center">
	<div class="row">
  	<div class="card card-block text-xs-center col-md-6">
  	
  		<div class="bg-inverse bg-circle">Profile
  		</div>
  		<table class="table table-striped">
  			<tbody>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Name :</th>
  					<td>Johnson</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Lastname :</th>
  					<td>Smith</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Student ID :</th>
  					<td>5610546681</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Citizen ID :</th>
  					<td>11XXXXXXXXXXX</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Sex :</th>
  					<td>Male</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Country :</th>
  					<td>Thailand</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>e-Mail :</th>
  					<td>b5610546681@ku.ac.th</td>
  					<td></td>
  					<td></td>		
  				</tr>
  			</tbody>
  		</table>
    </div>

    <div class="card card-block text-xs-center col-md-6">
  		<div class="bg-inverse bg-circle">Student Information
  		</div>
  		<table class="table table-striped">
  			<tbody>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Degree :</th>
  					<td>Bachelor</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Campus :</th>
  					<td>Bangkhen</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Faculty :</th>
  					<td>Engineering</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Major :</th>
  					<td>Software & Knowledge Engineering (E17)</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Advisor :</th>
  					<td>John Chaorhai(E0XXX)</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Program :</th>
  					<td>International Program</td>
  					<td></td>
  					<td></td>		
  				</tr>
  				<tr>
  					<td></td>
  					<td></td>
  					<th>Status :</th>
  					<td>Currently studying</td>
  					<td></td>
  					<td></td>		
  				</tr>
  			</tbody>
  		</table>
    </div>
    </div>

     <div class="card card-block text-xs-center">
  		<div class="bg-inverse bg-circle">Registration
  		</div>
  		<table class="table table-striped">
  			<tbody>
  				<tr>
  					<td></td>
  					<th>Semester :</th>
  					<td>2015 (Second)</td>
  					<td></td>
  					<td></td>	
  					<td></td>	
  				</tr>
  				<tr>
  					<td></td>
  					<th>Date :</th>
  					<td>2016-10-01</td>
  					<td></td>
  					<th>Time :</th>
  					<td>11.00-12.00</td>		
  				</tr>
  				<tr>
  					<td></td>
  					<th>Payment detail :</th>
  					<td class ="text-success">Paid</td>
  					<td>Bank: Siam Commercial Bank Payment</td>
  					<td>Date: 09-01-2016</td>
  					<td>Amount: 60700 THB</td>		
  				</tr>
  			</tbody>
  		</table>
    </div>
</div>
