.done-true {
  text-decoration: line-through;
  color: grey;
}

.btn-circle{
	border-radius:50pt
}

.bg-circle{
	border-radius:50pt
}

.styleSelect select {
  background: transparent;
  width: 168px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  -webkit-appearance: none;
  color: #000;
}